.bg-img {
    padding : 1px;
    height: 100%;
    width: 100%;
    background-image: url('../../assets//login_bg.png');
    background-size: cover;
  }
  ion-img{
      margin-top: 10px;
      margin-left: 50px;
      margin-right: 50px;
      height: 40%;
      width: 40%;
      position: relative;
  }
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .connexion{
    margin-top: 2%;
    --background: #F56F54;
    width: 335px;
    height: 40px;
  }
  .inscription{
    margin-top: 2%;
    --background: #10DA1B;
    width: 130px;
    height: 40px;
  }
  .flex-container {
    display: flex;
  }
  .oublier{
    margin-top: 2%;
    --background: #838F84;
    width: 200px;
    height: 40px;
  }
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: #0E2F5E;
    margin-top: 5%;
  }
  ion-content{
    height: 100%;
    --background: #EBEAE7;
  
  }
  
  
  .example-full-width {
    width: 100%;
    margin-top: 3%;
    
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  

  ion-content{
    // --background: url("../../assets/back.jpg");
    --background : #EBEAE7
  }

  .form-container{
    margin-top:20%;
    padding:20px;
    --background: rgba(255,255,255,1)
  }
  
  