<ion-header>
  <ion-toolbar>
    <div class="flex-container">
      <ion-button class="bback">
        <a routerLink="/login">

        <ion-icon name="arrow-back" class="back" ></ion-icon>
      </a>
    </ion-button>
    <ion-title>Password Reset</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item class="example-full-width">
      <ion-label>Email</ion-label>
       <ion-input matInput required></ion-input>
    </ion-item>
  </div>
  <div padding >
    <ion-button type="submit" class="connexion" >RESET NOW</ion-button>
  </div>

</ion-content>
